# DB
POSTGRES_USER=whoop_user
POSTGRES_PASSWORD=yoursecretpassword

# Backend
ENCRYPTION_KEY=0123456789abcdef0123456789abcdef
WHOOP_CLIENT_ID=your_client_id
WHOOP_CLIENT_SECRET=your_client_secret
WHOOP_WEBHOOK_SECRET=your_webhook_secret

# Logging & Performance
LOG_LEVEL=info # debug, info, warn, error
POLL_INTERVAL_CYCLE=4h
POLL_INTERVAL_WORKOUT=30m
POLL_INTERVAL_SLEEP=1h
POLL_INTERVAL_SLEEP_OFFPEAK=4h
POLL_INTERVAL_PROFILE=24h

# Frontend Auth Token (Set securely in production)
WHOOP_STATS_TOKEN=test-token
